* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-section .row {
    box-shadow: 10px 14px 29px -6px #326353;
    border-radius: 5px;
}

.product-section img {
    width: 100%;
}
